.navbar-brand{
    font-family:'Pacifico';
    font-size:20px;
  }
  nav{
    background:white;
    margin-top: 0px;
    margin-bottom: 10px;
    position: fixed;
    padding-top:20px;
  }
  .btn-login {
    background: #2fd5f8;
    color: #fff;
    height: 40px;
    padding-bottom: 38px;
    
  }
  .btn-login:hover{
    color: black;
    background-color: white;
    font-weight: 400
    }