<div class="container" >

  <h5>Specialities..
      <i (click)="close()" 
      data-toggle="tooltip" title="Close"  class="close material-icons" style="color: red">close</i>
  </h5>
  <!-- <button mat-icon-button color="warn">
    <mat-icon>clear</mat-icon> 
   </button>
   <br> -->
  <!-- <i class="material-icons" (click)="close()">
    clear
    </i> -->

  <!-- <button type="button" class="btn close" 
  data-dismiss="modal" aria-label="Close"> 
  <span aria-hidden="true">×</span> 
</button>  -->
  <!-- <div class="btn-group"> -->
  
  <button mat-button (click)='searchSpecialization("General Physician")'>General Physician</button>
  <button mat-button (click)='searchSpecialization("Paediatrics")'>Paediatrics</button>
  <button mat-button (click)='searchSpecialization("Opthalmologist")'>Opthalmologist</button>
  <button mat-button (click)='searchSpecialization("Gynaechologist")'>Gynaechologist</button>
  <button mat-button (click)='searchSpecialization("Neurologist")'>Neurologist</button>
  <button mat-button (click)='searchSpecialization("Cardiologist")'>Cardiologist</button>
  <button mat-button (click)='searchSpecialization("Dermatologist")'>Dermatologist</button>
  <button mat-button (click)='searchSpecialization("Orthopedic")'>Orthopedic</button>
  <button mat-button (click)='searchSpecialization("Dentist")'>Dentist</button>
  <button mat-button (click)='searchSpecialization("Physiotherapist")'>Physiotherapist</button>

 <!-- </div>       -->
 <br>
 <!-- <mat-chip-list>
    <mat-chip [selected]="state1" (selectionChange)="changeSelected($event)" selectable="true" (click)='searchSpecialization("Dentist")'>Dentist</mat-chip>
    <mat-chip [selected]="state2" (selectionChange)="changeSelected($event)" (click)="state2=!state2"> Naan</mat-chip>
    <mat-chip [selected]="state3" (selectionChange)="changeSelected($event)" (click)="state3=!state3"> Dal</mat-chip>
  </mat-chip-list> -->

 <mat-dialog-actions class="close">
  <!-- <ng-container ngProjectAs="btn-close"> -->
  <button mat-button color="warn" (click)="close()">All Specialities</button>
 <!-- </ng-container> -->
 </mat-dialog-actions>

<!-- <mat-chip>john</mat-chip> -->
<!-- <mat-chip-list class="categories">
    <mat-chip><a href="/publication/category/{{category.id}}">
    {{category.name}}</a></mat-chip>
</mat-chip-list> -->

 </div>