<div class="container" >

  <h5>Specialities..
      <i (click)="close()" 
      data-toggle="tooltip" title="Close"  class="close material-icons" style="color: red">close</i>
  </h5>
  
  <button mat-button (click)='searchSpecialization("General Physician")'>General Physician</button>
  <button mat-button (click)='searchSpecialization("Paediatrics")'>Paediatrics</button>
  <button mat-button (click)='searchSpecialization("Opthalmologist")'>Opthalmologist</button>
  <button mat-button (click)='searchSpecialization("Gynaechologist")'>Gynaechologist</button>
  <button mat-button (click)='searchSpecialization("Neurologist")'>Neurologist</button>
  <button mat-button (click)='searchSpecialization("Cardiologist")'>Cardiologist</button>
  <button mat-button (click)='searchSpecialization("Dermatologist")'>Dermatologist</button>
  <button mat-button (click)='searchSpecialization("Orthopedic")'>Orthopedic</button>
  <button mat-button (click)='searchSpecialization("Dentist")'>Dentist</button>
  <button mat-button (click)='searchSpecialization("Physiotherapist")'>Physiotherapist</button>


 <br>


 <mat-dialog-actions class="close">

  <button mat-button color="warn" (click)="close()">All Specialities</button>

 </mat-dialog-actions>


 </div>