.navbar-brand{
  font-family:'Pacifico';
  font-size:20px;
 }
 nav{
  background:white;
  margin-top: 0px;
  margin-bottom: 10px;
  position: fixed;
 }
 .container{
  height: 90%;
  margin-top:20px;
  align-content: center;
  }
  .loginBackground{
    height: 150%;
    align-content: center;
    background: url("../../assets/images/36.jpg")no-repeat center top / cover;
  }
  .card{
  height: 280px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 400px;
  background-color: white;
  }
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #144249;
  }
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  .card-header h3{
  color:white;
  }
  .card-header{
    background: url("../../assets/images/12.jpg") no-repeat center top / cover;
  }
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  .input-group-prepend span{
  width: 50px;
  background-color: #ebeff0;
  color: black;
  border:0 !important;
  }
  input:focus{
  outline: 1 0 0 0  !important;
  box-shadow: 2 0 0 0 !important;
  }
  .remember{
  color: white;
  }
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  .login_btn{
  color: white;
  background-color:#2fd5f8;
  width: 100px;
  }
  .login_btn:hover{
  color: black;
  background-color: white;
  }
  .links{
  color:black;
  }
  .links a{
  margin-left: 4px;
  color:#2fd5f8;
  }
  .links a:hover{
    text-decoration: underline;
    }
    .row {
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 15px;
  }
 h2{
 color: #2fd5f8;
 }
 .register{
  margin-top: 15px;
  background: #2fd5f8;
  color: #fff;
 }
 .registration {
  margin-top: 50px;
  margin-bottom: 0px;
 }
 .btn-register {
  background: #2fd5f8;
  color: #fff;
  height: 38px;
  padding-bottom: 10px;
  margin-top:0px;
 }
 .btn-register:hover{
  color: black;
  background-color: white;
  font-weight: 400
  }
  .row{
    padding:1%;
  }
 .col-lg-3{
     margin-top: -45px;
     margin-left: -50px;
 }
 