<a href="http://13.234.236.221:4200/#" class="navbar-brand ml-3" style="color:rgb(33, 173, 228)">
  <img src="../../assets/images/logo (1).png" style="height: 60px;width: auto;margin-left: 20px;margin-top:10px;"
    alt="FindMeClinic" />
 </a>
 <div class="loginBackground" style="height:80%">
  <div class="container" style="padding-top:1%;padding-bottom:1%">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <div class="" style="text-align: center">
            <h3>Login</h3>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" #username placeholder="Email Id">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" #password placeholder="Password">
            </div>
            <div class="form-group">
              <div class="btn  btn-info btn-md btn-register" style="margin-left:150px;"
                (click)="authenticate(username.value,password.value)">Login</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div class="container registration" style="height:10%">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-9">
      <h2 class="awsm-head">Are your new here?</h2>
      <p> Register with us to explore more features.</p>
      <div class="btn btn-info btn-md btn-register" (click)="sendRole()" style="margin-right: 10px">Register as Patient
      </div>
      <div class="btn btn-info btn-md btn-register" (click)="sendRole1()">Register as Doctor</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div style="height: 90px ;width: 60px"><img src="../../assets/images/register1.png"></div>
    </div>
  </div>
 </div>