<br><br><br><br><br>
<mat-accordion class="myPanel" style="margin-top:10%">
   <mat-expansion-panel [expanded]="true">
     <mat-expansion-panel-header>
       <mat-panel-title class="title">
         Upcoming Appontment Details
       </mat-panel-title>
     </mat-expansion-panel-header>


     <mat-card class="cardList">

       <div *ngFor="let upcomingDetails of upcomingAppointmentData">
         <mat-card class="upcomingDataCard">
           <mat-card-content>
             <div class="row">

               <div class="col">
                 <p>Patient Name</p>
                 <p>Clinic's Name</p>
                 <p>Date and Time  </p>
                 <p>Email Id  </p>
                 <p>Date of Birth</p>
                 <p>Gender</p>
                 <p>Mobile</p>
               </div>
               <div class="col">
                <p>{{upcomingDetails.patientName}}</p>
                <p>{{upcomingDetails.clinicName}}</p>
                <p>{{upcomingDetails.dateAndTime}}</p>
                <p>{{upcomingDetails.emailId}}</p>
                <p>{{upcomingDetails.dateOfBirth}}</p>
                <p>{{upcomingDetails.gender}}</p>
                <p>{{upcomingDetails.mobile}}</p>
               </div>
             </div>
           </mat-card-content>
         </mat-card><br>
       </div>


     </mat-card>

     


   </mat-expansion-panel>
 </mat-accordion>
 <br>
 <mat-accordion class="myPanel">
   <mat-expansion-panel [expanded]="true">
     <mat-expansion-panel-header>
       <mat-panel-title class="title">
         Previous Appontment Details
       </mat-panel-title>
     </mat-expansion-panel-header>
     <mat-card class="cardList">

       <div *ngFor=" let previousDetails of previousAppointmentData">
         <mat-card class="previousDataCard">
           <mat-card-content>
             <div class="row">

               <div class="col">
                <p>Patient Name</p>
                
               
                
                <p>Gender</p>

                <p>Mobile</p>
                <p>Date and Time  </p>
               </div>
               <div class="col">
                <p>{{previousDetails.patientName}}</p>
               
               
               
                
                <p>{{previousDetails.gender}}</p>
                <p>{{previousDetails.mobile}}</p>
                <p>{{previousDetails.dateAndTime}}</p>
               </div>
             </div>
           </mat-card-content>
         </mat-card><br>
       </div>


     </mat-card>


   </mat-expansion-panel>
 </mat-accordion>













