mat-toolbar{
  background-color:  #2fd5f8;
}

mat-expansion-panel {
  margin:auto;
  margin-top:3%;
  background: url("../../assets/images/22.jpg") no-repeat center top / cover;
}


.title{
  font-weight: 500;
  font-size:17px;
  color:white;
}
  .example-card {
    display: flex;
    flex-direction: column;
    margin: auto;

    background: url("../../assets/images/18.jpeg") no-repeat center top / cover;
  }

  .upcomingDataCard{
     
     width:120%;
      background: url("../../assets/images/21.jpg") no-repeat center top / cover;
  }
  .previousDataCard{
   
   width:120%;
    background: url("../../assets/images/21.jpg") no-repeat center top / cover;
  }
p{
  color: rgb(3, 0, 8);
  font-size:14px;
  font-weight:400;
}


  .cardList {
    padding-left:90px;
   
    padding-top:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
     max-width: 1180px;
     margin:auto;
     margin-top:2%;

  }
  
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 34px;
  }
  
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }


@media screen and (max-width: 959px) {
   
    .cardList > *:not(:last-child) {
      margin-right: 32px;
    }
    
    .cardListItem {
      flex: 0 1 calc(50% - 32px);
    }
  }


@media screen and (max-width: 599px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .cardList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 32px;
    }
  }








