<div id="fullscreen_bg" class="fullscreen_bg">
<!--new code-->
<div class="container">
    <mat-card>
        <h4>Select a time slot to book an appointment</h4>

        <div style="padding-left: 28%;padding-top: 4%;text-align: center" class="row">
            <div class="col-md-0">
        <!-- <a href="/tomorrow" style="margin-left: -90%" class="previous round">&#8249;</a> -->
        </div>
        <div class="col">
    <mat-tab-group>
            <mat-tab id="today" label="Today" > 
                <br/>
                    <div class="main-content">
                    <div class="container mt-7">
                            <form class="outset">
                                <h4> 
                                    <div style="margin-left: -18%" class="row">
                                        <div class="col">
                                        <i class="far fa-sun"></i>
                                        </div>
                                        <div style="margin-left:-20%" class="col">
                                                <h5>Morning</h5>
                                        </div>
                                        <div class="col">
                                                <button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button value="Today(10-1)"  [disabled]="status1" (click)="clickMe1('today','morning')" >10:00AM-01:00AM</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="margin-left: -18%" class="row">
                                            <div class="col"><i class="fas fa-cloud"></i></div>
                                                    <div style="margin-left:-20%" class="col"> <h5>Afternoon</h5></div>
                                                            <div class="col"><button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button  value="Today(2-5)" [disabled]="status2" (click)="clickMe2('today','afternoon')">02:00PM-05:00PM</button>
                                                            </div>
                                    </div>
                                    <hr>
                                    <div style="margin-left: -18%" class="row">
                                            <div class="col"><i class="far fa-moon"></i></div>
                                            <div style="margin-left:-20%" class="col"><h5>Evening</h5></div>
                                            <div class="col"><button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button  value="Today(6-9)"   [disabled]="status3" (click)="clickMe3('today','evening')">06:00PM-09:00PM</button>                                          
                                            </div>
                                            </div>    
                                    </h4>
                                     
                            </form>
                    </div>
                    </div>
            </mat-tab>        
                
             <mat-tab id="tomorrow" label="Tomorrow"> 
               <br/>
            <div class="main-content">
            <div class="container mt-7">
                    <form class="outset">
                        <h4>
                                <div style="margin-left: -18%" class="row">
                                        <div class="col">
                                        <i class="far fa-sun"></i>
                                        </div>
                                        <div style="margin-left:-20%" class="col">
                                                <h5>Morning</h5>
                                        </div>
                                        <div class="col">
                                                <button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button value="Today(10-1)"  [disabled]="status1" (click)="clickMe4('tomorrow','morning')" >10:00AM-01:00AM</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="margin-left: -18%" class="row">
                                            <div class="col"><i class="fas fa-cloud"></i></div>
                                                    <div style="margin-left:-20%" class="col"> <h5>Afternoon</h5></div>
                                                            <div class="col"><button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button  value="Today(2-5)" [disabled]="status2" (click)="clickMe5('tomorrow','afternoon')">02:00PM-05:00PM</button>
                                                            </div>
                                    </div>
                                    <hr>
                                    <div style="margin-left: -18%" class="row">
                                            <div class="col"><i class="far fa-moon"></i></div>
                                            <div style="margin-left:-20%" class="col"><h5>Evening</h5></div>
                                            <div class="col"><button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button  value="Today(6-9)"   [disabled]="status3" (click)="clickMe6('tomorrow','evening')">06:00PM-09:00PM</button>                                          
                                            </div>
                                            </div>    
                            
                        </h4>
                    </form>
            </div>
            </div>
            </mat-tab>
            <mat-tab label="Overmorrow"> 
                
                   <br/>
                    <div class="main-content">
                    <div class="container mt-7">
                            <form class="outset">
                                <h4>
                                       
                                        <div style="margin-left: -18%" class="row">
                                                <div class="col">
                                                <i class="far fa-sun"></i>
                                                </div>
                                                <div style="margin-left:-20%" class="col">
                                                        <h5>Morning</h5>
                                                </div>
                                                <div class="col">
                                                        <button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button value="Today(10-1)"  [disabled]="status1" (click)="clickMe7('overmorrow','morning')" >10:00AM-01:00AM</button>
                                                </div>
                                            </div>
                                            <hr>
                                            <div style="margin-left: -18%" class="row">
                                                    <div class="col"><i class="fas fa-cloud"></i></div>
                                                            <div style="margin-left:-20%" class="col"> <h5>Afternoon</h5></div>
                                                                    <div class="col"><button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button  value="Today(2-5)" [disabled]="status2" (click)="clickMe8('overmorrow','afternoon')">02:00PM-05:00PM</button>
                                                                    </div>
                                            </div>
                                            <hr>
                                            <div style="margin-left: -18%" class="row">
                                                    <div class="col"><i class="far fa-moon"></i></div>
                                                    <div style="margin-left:-20%" class="col"><h5>Evening</h5></div>
                                                    <div class="col"><button  role="button" class="btn btn-info btn-lg btn-slot" mat-raised-button  value="Today(6-9)"   [disabled]="status3" (click)="clickMe9('overmorrow','evening')">06:00PM-09:00PM</button>                                          
                                                    </div>
                                                    </div>    
                                
                                </h4>
                                    
                            </form>
                    </div>
                    </div>
                    </mat-tab>
          </mat-tab-group> 
          </div>
          <div class="col">
                <!-- <a href="#" style="margin-left: -87%" class="next round">&#8250;</a> -->
          </div>
        </div><br><br>
        <div class="form-group text-center">
                <button class="btn btn-info"  role="button" (click)="routingto()">Continue</button>
            </div>
        </mat-card>
       
    
</div>
</div>


