label{
  font-weight: 500;
}
.chips{
  padding-top: 8px;
  
}
#second{
  padding-left: 60px;
  padding-right: 100px;
}

img{
  height: 60%;
}
.toolbar{
   background-color: #2fd5f8;
  margin-top: 30px;
 }
 .wrapper{
  height:100vh;
  background: url("../../assets/images/22.jpg") repeat center top / cover;
  background-position:120% 100%;
  background-size:cover;
 }
 .register{
 margin-right: 10px;
 margin-top: 1px;
 background: #5bd8f1;
 color: #fff;
 }

 i{
  vertical-align: -6px;
}


