<app-navbar></app-navbar>
<br><br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>




<mdb-carousel [isControls]="false" class="carousel slide" [animation]="'slide'">
  <mdb-carousel-item>
    <div class="view">
      <img src="/assets/images/background3.jpg" alt="slider1">
      <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
    </div>

    <div class="carousel-caption">
        <div class="s01">
  
        <form style="text-align: center;margin-bottom: 15%" >
            <fieldset style="color: black">
           FIND NEARBY DOCTORS
            </fieldset>
                                <!-- <mat-form-field> -->
                                    <div class="inner-form" style="margin-left: 20%;width: 60%;">
                                        <div class="input-field first-wrap">
                                  <input class="search-area" type="text" placeholder="Search an area"
                                  [(ngModel)]="location" [matAutocomplete]="auto" [formControl]="myControl">
                           <mat-autocomplete #auto="matAutocomplete">
                             <!-- autoActiveFirstOption -->
                             <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="search()">
                               {{option}}
                             </mat-option>
                           </mat-autocomplete>
                           </div>
                          
                           <!-- </mat-form-field> -->
           
                           
            </div>
            <br/>
            <button class="btn btn1" (click)="doctorDetails()">Doctor</button>
            <button class="btn btn1" (click)="clinicDetails()">Clinic</button>
            <button class="btn btn1">Pharmacy</button>
            <button class="btn btn1">Labs</button>
           
          
          
          </form>
          </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view">
        <img src="/assets/images/background14.jpg" alt="slider2">
      <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
    </div>

    <div class="carousel-caption">
        <div class="s01">
  
            <form style="text-align: center;margin-bottom: 15%" >
                <fieldset style="color: black">
               FIND NEARBY DOCTORS
                </fieldset>
                                    <!-- <mat-form-field> -->
                                        <div class="inner-form" style="margin-left: 20%;width: 60%;">
                                            <div class="input-field first-wrap">
                                      <input class="search-area" type="text" placeholder="Search an area"
                                      [(ngModel)]="location" [matAutocomplete]="auto" [formControl]="myControl">
                               <mat-autocomplete #auto="matAutocomplete">
                                 <!-- autoActiveFirstOption -->
                                 <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="search()">
                                   {{option}}
                                 </mat-option>
                               </mat-autocomplete>
                               </div>
                              
                               <!-- </mat-form-field> -->
               
                  
                </div>
                <br/>
                <button class="btn btn1" (click)="doctorDetails()">Doctor</button>
                <button class="btn btn1" (click)="clinicDetails()">Clinic</button>
                <button class="btn btn1">Pharmacy</button>
                <button class="btn btn1">Labs</button>
              </form>
              </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view">
        <img src="/assets/images/bgg18.jpg" alt="slider3">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>

    <div class="carousel-caption">
        <div class="s01">
  
            <form style="text-align: center;margin-bottom: 15%" >
                <fieldset style="color: black">
               FIND NEARBY DOCTORS
                </fieldset>
                                    <!-- <mat-form-field> -->
                                        <div class="inner-form" style="margin-left: 20%;width: 60%;">
                                            <div class="input-field first-wrap">
                                      <input class="search-area" type="text" placeholder="Search an area"
                                      [(ngModel)]="location" [matAutocomplete]="auto" [formControl]="myControl">
                               <mat-autocomplete #auto="matAutocomplete">
                                 <!-- autoActiveFirstOption -->
                                 <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="search()">
                                   {{option}}
                                 </mat-option>
                               </mat-autocomplete>
                               </div>
                              
                               <!-- </mat-form-field> -->
               
                  
                </div>
                <br/>
                <button class="btn btn1" (click)="doctorDetails()">Doctor</button>
                <button class="btn btn1" (click)="clinicDetails()">Clinic</button>
                <button class="btn btn1">Pharmacy</button>
                <button class="btn btn1">Labs</button>
              </form>
              </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>



<section class="team-area pt-100 pb-100" id="clinics">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <div class="section-title" style="text-align: center;margin-top: -10%;">
          <h4>Top Doctors </h4>
        </div>
      </div>
    </div>
    <div *ngFor="let doctorData of topDoctors">
      <div class="cards">
        <div class="single-team">
          <img class="imageClass" src="../../assets/images/{{doctorData.profileImage}}" style="width: 260px;height: 225px" alt=""/>
          <div class="team-hover">
            <h5>{{doctorData.name}}</h5>
            <h6>{{doctorData.emailId}}</h6>
            <h6>{{doctorData.qualification}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-area pt-100 pb-100" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <div class="section-title" style="text-align: center;margin-top: 3%">
          <h4>Top Clinics </h4>
        </div>
      </div>
    </div>
    <div *ngFor="let clinicData of topClinics">
    <div class="cards">
     
        <div class="single-team">
          <img src="../../assets/images/{{clinicData.clinicImage}}" style="width: 260px;height: 225px" id="clinicImage"  alt=""/>
            <div class="team-hover">
            <h4>{{clinicData.clinicName}}</h4>
          </div>
         
        
      </div>
    </div>
    </div>
  </div>
</section> 
<div class="container" style="padding-top: 5%;padding-left: 2%;padding-right: 2%">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img
              src="https://findmeclinic.com/images/feature/responsive.png" /></div>
          </div>
        </div>
        <div class="details col-md-6">
          <h4 class="product-title" style="color:#2fd5f8">Find Nearby Clinics around you.</h4><br>
          <p> See nearby clinics in your area and request for online appointment. Only you have to share your
            location from your browser and you can see nearby clinics and hospitals. You can get online
            appointment in your favorite clinic.</p>
        </div>
      </div>
    </div>
  </div>
</div><br>
<app-patientreviews></app-patientreviews>
<div class="container" style="margin-top: -2%;padding-left: 2%;padding-right: 2%">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <h6>Are you a Doctor or own a clinic?</h6>
            <h4 class="product-title" style="color:#2fd5f8">Register Your Clinic, It's Free.</h4><br>
            <li>Add Your Doctors</li>
            <li>Add Clinic Detail</li>
            <li>Manage Patients</li>
            <li>Get Online Appointment Requests</li>
          </div>
        </div>
        <div class="details col-md-6">
          <div class="tab-pane active" id="pic-1"><img
            src="https://findmeclinic.com/images/register-vector.png" /></div>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="services">
  <div class="container" style="margin-bottom: -10%">
  <div class="row">
  <div class="col text-center">
  <div class="section_title" style="margin-top: -7%">Our Services</div>
   </div>
  </div>
  <div class="row icon_boxes_row" style="margin-top: 0%">
  
  <div class="col-xl-4 col-lg-6">
  <div class="icon_box">
  <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
  <div class="icon_box_icon"><img src="../../assets/images/icon_1.svg" alt=""></div>
  <div class="icon_box_title">Cardiology</div>
  </div>
  <div class="icon_box_text">Cardiology is a medical specialty and a branch of internal medicine concerned with disorders of the heart. </div>
  </div>
  </div>
  
  <div class="col-xl-4 col-lg-6">
  <div class="icon_box">
  <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
  <div class="icon_box_icon"><img src="../../assets/images/icon_2.svg" alt=""></div>
  <div class="icon_box_title">Gastroenterology</div>
  </div>
  <div class="icon_box_text">Gastroenterology is the study of the normal function and diseases of the esophagus, stomach, small intestine, colon and rectum.</div>
  </div>
  </div>
  
  <div class="col-xl-4 col-lg-6">
  <div class="icon_box">
  <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
  <div class="icon_box_icon"><img src="../../assets/images/icon_3.svg" alt=""></div>
  <div class="icon_box_title">Medical Lab</div>
  </div>
  <div class="icon_box_text">clinical laboratory is a laboratory where clinical pathology tests are carried out on clinical specimens to obtain information </div>
  </div>
  </div>
  
  <div class="col-xl-4 col-lg-6">
  <div class="icon_box">
  <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
  <div class="icon_box_icon"><img src="../../assets/images/icon_4.svg" alt=""></div>
  <div class="icon_box_title">Dental Care</div>
  </div>
  <div class="icon_box_text">You can help prevent or minimize many oral health problems by regular preventive steps and regular visits to dental health professionals.</div>
  </div>
  </div>
  
  <div class="col-xl-4 col-lg-6">
  <div class="icon_box">
  <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
  <div class="icon_box_icon"><img src="../../assets/images/icon_5.svg" alt=""></div>
  <div class="icon_box_title">Surgery</div>
  </div>
  <div class="icon_box_text">Surgery is a medical specialty that uses operative manual and instrumental techniques on a patient to investigate or treat a pathological condition</div>
  </div>
  </div>
  
  <div class="col-xl-4 col-lg-6">
  <div class="icon_box">
  <div class="icon_box_title_container d-flex flex-row align-items-center justify-content-start">
  <div class="icon_box_icon"><img src="../../assets/images/icon_6.svg" alt=""></div>
  <div class="icon_box_title">Neurology</div>
  </div>
  <div class="icon_box_text">Neurology is the branch of medicine concerned with the study and treatment of disorders of the nervous system.</div>
  </div>
  </div>
  </div>
  </div>
  </div>
<app-footer></app-footer>





