<app-navbar></app-navbar>

<br><br><br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="carousel">
  <div class="container" style="margin-left: 650px">
    <div class="d-flex justify-content-center h-80">
      <div class="card text-white" style="margin-top:150px;background-color:rgba(7, 7, 7, 0.5)">
        <div class="card-header" style="color: #2fd5f8">
          <div class="data" style="margin-left: 18%">
            <h3>Find NearBy Doctors</h3>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="container">
              <div class="row heading heading-icon" style="margin-left: 70px">

                <div style="color: #2fd5f8;margin-left: 39px">
                  <h4>Select Location</h4>
                </div>
                <!-- <div class="butt" style="margin-left: 10%"><form action="/action_page.php">
                                    <select name="cars" (change)="selectChangeHandler($event)" >

                                      <option *ngFor="let place1 of places" [value]=place1>{{place1}}</option>
                                    </select>

                                  </form></div> -->

                <!-- <form>
                                    <mat-form-field>
                                        <input type="text" [(ngModel)]="location" matInput [matAutocomplete]="auto" [formControl]="myControl"  >
                                        <mat-autocomplete #auto="matAutocomplete" >
                                                 autoActiveFirstOption -->
                <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option"  (click)="search()">
                                                    {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form> -->

                <div style="margin-left: 38px">
                  <form>
                    <!-- <mat-form-field> -->
                    <input class="search-area" type="text" placeholder="Search an area" [(ngModel)]="location"
                      [matAutocomplete]="auto" [formControl]="myControl">
                    <mat-autocomplete #auto="matAutocomplete">
                      <!-- autoActiveFirstOption -->
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="search()">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                    <!-- </mat-form-field> -->
                  </form>
                </div>

              </div>
            </div><br>
            <div class="" style="width:100%;background:white">

              <button class="btn btn1" (click)="doctorDetails()">Doctor</button>
              <button class="btn btn1">Clinic</button>
              <button class="btn btn1">Pharmacy</button>
              <button class="btn btn1">Labs</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="team-area pt-100 pb-100" id="clinics">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <div class="section-title" style="text-align: center">
          <h4>Top Doctors </h4>
        </div>
      </div>
    </div>
    <div *ngFor="let doctorData of topDoctors">
    <div class="cards">

        <div class="single-team">
          <img class="imageClass" src="../../assets/images/{{doctorData.profileImage}}" style="width: 230px" style="height: 225px" alt=""/>
          <div class="team-hover">

            <h5>{{doctorData.name}}</h5>
            <h6>{{doctorData.emailId}}</h6>
            <h6>{{doctorData.qualification}}</h6>


        </div>
      </div>
      </div>
 </div>
  </div>
</section>
<section class="team-area pt-100 pb-100" id="team">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <div class="section-title" style="text-align: center">
          <h4>Top Clinics </h4>
        </div>
      </div>
    </div>
    <div *ngFor="let clinicData of topClinics">
    <div class="cards">

        <div class="single-team">
          <img class="imageClass" src="../../assets/images/{{clinicData.clinicImage}}" style="width: 300px" style="height: 255px" alt=""/>
            <div class="team-hover">
            <h4>{{clinicData.clinicName}}</h4>
          </div>


      </div>
    </div>
    </div>
  </div>
</section>



<!-- <div class="continer-cards"  >
        <div *ngFor="let doctorData of topDoctors">
          <div class="box21" style=" padding-left: 40px;">
            <img class="imageClass" src="../../assets/images/{{doctorData.profileImage}}" />
                      <div class="box-content">
                        <p class="description">{{doctorData.emailId}}</p>
                        <p class="description">{{doctorData.name}}</p>
                        <p class="description">{{doctorData.qualification}}</p>

                     </div>
                  </div>
             </div>
          </div>
          <div class="continer-cards"  >
            <div *ngFor="let clinicData of topClinics">
              <div class="box21" style=" padding-left: 40px;">
                <img class="imageClass" src="../../assets/images/{{clinicData.clinicImage}}" />
                          <div class="box-content">

                              <p class="description">{{clinicData.clinicName}}</p>
                        </div>
                      </div>
                 </div>
              </div>

    -->
