label{
   font-weight: 500;
 }
 .chips{
   padding-top: 8px;
 }
 .date-holder {
   display: inline-block;
   width: 42px;
   vertical-align: top;
   padding: 2px 0;
   border-radius: 2px;
   vertical-align: middle;
 }
 .text-center {
   text-align: center;
 }
 .text-center {
   text-align: center;
 }
 .profileDisplay{
   font-size: 15px;
 }
 .bg-grey {
   background-color: #f0f0f5;
 }
 * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 }
 .toolbar{
   background-color:#5bd8f1;
   margin-top: 10%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
  }
  .toolbar:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .cards {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
 }
 .cards:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 .mat-expansion-panel{
   background: url("/assets/images/22.jpg") no-repeat center top / cover;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
  
   overflow: hidden;
 }
 .mat-expansion-panel:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 .mat-chip{
      background-color:azure;
 }
 