<app-patient-nav></app-patient-nav>

<body>
  <div class="container" style="margin-top: 4%">
    <mat-toolbar class="toolbar">Profile

    </mat-toolbar>
    <mat-card class="cards" style="height:230px">
      <form method="post">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/images/{{let1}}" alt="user" style="width:100%;height: 130%;margin-left: -2%">
            
          </div>
          <div class="col-md-6" style="margin-top: 4%;margin-left:5%">
            <div class="tab-content profile-tab" id="myTabContent">
              <div style="margin-top: -8%" class="tab-pane fade show active" id="home" role="tabpanel"
                aria-labelledby="home-tab">
                <!-- <div class="row" style="padding-left: 23%">


                </div> -->

                <div class="row">

                  <div class="profileDisplay">
                    <p
                      style="word-spacing: 2px;text-align: justify; font-size: 17px; padding-top: 10%;margin-right: 14%">
                      Hi am <strong>{{patientData.name}}</strong>! Wish me on <strong> {{month}} {{day}}</strong>.
                      Hand-picked deals for healthier me are welcomed
                      at <a style="color: black" href=mailto> <strong>{{patientData.emailId}}.</strong></a>
                      Contact me
                      <strong>{{patientData.phone}}</strong>
                    </p>
                  

                  </div>
                
                </div>
               

              </div>
             
            </div>
          </div>

         
        </div>

        <div class="row">
          <div class="col">
            <button class="btn  float-left btn-info btn-md btn-register" style="margin-left:700px" (click)="editPatientProfile()"><i
                class="fa fa-edit"></i>Edit Profile</button>
                <button class="btn  float-left btn-info btn-md btn-register" style="margin-left:10px" (click)="recommendations()">
                 Recommended Doctors</button>
          </div>
        </div>

      </form>
     
    </mat-card>

  </div>


  <br />
  <div class="container">
    <div class="row">
      <div class="col-6">
        <mat-toolbar class="toolbar">
          Upcoming Appontment Details
        </mat-toolbar>
        <mat-card>
          <div *ngFor="let appointmentDetails of upcomingAppointmentData">
            <mat-accordion class="myPanel" style="margin-top:10%">
              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title class="title">
                    <mat-chip-list>
                      <mat-chip>{{appointmentDetails.appointmentId}}</mat-chip>
                      <mat-chip>{{appointmentDetails.appointmentDate}}</mat-chip>
                    </mat-chip-list>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="" style="color: #000708;word-spacing: 2px;text-align: justify">
                  <p>Dear {{patientData.name}}, your appointment has been confirmed
                    with Dr.{{appointmentDetails.doctor.name}}({{appointmentDetails.doctor.specialization}}) on {{appointmentDetails.appointmentDate}} at
                    {{appointmentDetails.appointmentTime}}.
                    Your appointment ID is {{appointmentDetails.appointmentId}}.Visit
                    {{appointmentDetails.doctor.clinicName}}
                    clinic located in
                    {{appointmentDetails.doctor.address.flatNo}},{{appointmentDetails.doctor.address.area}},{{appointmentDetails.doctor.address.city}}.

                  </p>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
            <br />
          </div>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-toolbar class="toolbar">
          Previous Appointment Details
        </mat-toolbar>
        <mat-card>
          <div *ngFor="let appointmentDetails1 of previousAppointmentData">
            <mat-accordion class="myPanel">
              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title class="title">
                    <mat-chip-list>
                      <mat-chip>{{appointmentDetails1.appointmentId}}</mat-chip>
                      <mat-chip>{{appointmentDetails1.appointmentDate}}</mat-chip>
                    </mat-chip-list>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="" style="color: #000708;word-spacing: 2px;text-align: justify">
                  <p>Dear {{patientData.name}}, Thank you for using FindMeClinic.
                    Hope your appointment with Dr.{{appointmentDetails1.doctor.name}}({{appointmentDetails1.doctor.specialization}})
                    on {{appointmentDetails1.appointmentDate}} at {{appointmentDetails1.appointmentTime}} was good.



                  </p>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <br />
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</body>