<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
        <div class="col-md-12">
                <form align="center" class="outset">
                    <h3><b>Choose your slots:</b></h3>
                    <br>
                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="check"  value="10-1"> <span class="label-text">10:00AM-01:00AM</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="check"  value="2-5"> <span class="label-text">02:00PM-05:00PM</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="check"  value="6-9"> <span class="label-text">06:00PM-09:00PM</span>
                        </label>
                    </div>
                    <br><br>

                    <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>    
                














              
            </form> 
  </div>
          
                   
				