body{
    background-color: #eff5f8;
  }

.container{
    margin-top: 10%;
    /* border: 1px solid #e5e5e5;  */
    margin-bottom: 100px;
    font-size: 14px;
}
.imageClass{
    height: 250px;
}
/* .cards{ */
    /* height: 400px; */
/* } */

img{
    text-align: center;
}
.toolbar{
    background-color: #2fd5f8;
    color:#fff;
}
button{
    background-color: #2fd5f8;
    color:#fff;
}
