#popup {
  margin-bottom: 20px;
  height: 10px;
}

h3{
text-align: center;
margin-bottom: 10px;
}

.btn:hover{
  color: white;
  background-color:#2fd5f8;
  width: 100px;
  }
  .btn{
  color: black;
  background-color: white;
  width: 100px;
  }
