<div class="footer-dark " >
  <footer class="footer1" >
      <div class="container">
          <div class="row">
              <div class="col-sm-3 col-md-4 item">
               <div style="margin-left: 0%">   <h3>Services</h3>
                  <ul>
                      <li><a href="#">Free Hospital/Clinic Signup</a></li>
                      <li><a href="#">Free Patient Signup</a></li>
                      <li><a href="#">Free Nearby Clinic Search</a></li>
                      <li><a href="#">Free Patient History</a></li>
                      <li><a href="#">Instant Chat/Message</a></li>
                  </ul></div>
              </div>
              <div class="col-sm-3 col-md-4 item">
                  <div style="margin-left: 40%"><h3>Links</h3>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Privacy and Policy</a></li>
                      <li><a href="#">Add your Clinic</a></li>
                  </ul></div>
              </div>
              <div class="col-md-3 col-md-4 item text">
                 <div style="margin-left: 76%"> <h3>Contact Us</h3>
                      <div class="col item social" ><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a></div>
                  </div>
                  </div>
          </div>
          <p class="copyright">Find Me Clinic ©2019.All rights Reserved</p>
      </div>
  </footer>
</div>