

.services {
  width: 100%;
  background: #f4f8fb;
  padding-top: 99px;
  padding-bottom: 102px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.text-center {
  text-align: center!important;
}
.section_title {
  font-size: 36px;
  font-weight: 600;
  color: #404040;
  line-height: .75;
}
.section_subtitle {
  font-size: 11px;
  font-weight: 600;
  color: #838383;
  line-height: .75;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-top: 23px;
}
.icon_boxes_row {
  margin-top: 90px;
}
.col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.icon_box {
  margin-bottom: 85px;
}

.icon_box_icon {
  width: 49px;
  height: 49px;
}
.icon_box_icon1 {
  width: 49px;
  height: 49px;
  color:white;
}
.icon_box_title {
  font-size: 20px;
  font-weight: 600;
  color: #404040;
  padding-left: 25px;
}
.icon_box_text {
  font-size: 14px;
  font-weight: 500;
  color: #838383;
  line-height: 2.14;
  margin-top: 21px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.choose {
  
  display: flex;
 
  width: 100%;
  float: left;
 
  background: linear-gradient(#2fd5f8);
 
}
.choose .half {
  width: 50%;
  display: inline;
}
.img-bg, .img-user {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}


.features-wrap {
  padding: 4em;
}
.js .animate-box {
  opacity: 0;
}
.colorlib-heading {
  margin-bottom: 5em;
}
.fadeInUp {
  
  animation-name: fadeInUp;
}
.animated-fast {
 
  animation-duration: .5s;

  animation-fill-mode: both;
}
.features .icon {
  position: absolute;
  top: 0;
  left: 0;
}

.text-center {
  text-align: center;
}
.features .icon i {
  font-size: 40px;
  color: #fff;
}
.features .desc {
  padding-left: 60px;
}
.js .animate-box {
  opacity: 0;
}

.features {
  position: relative;
  margin-bottom: 60px;
}
              
              
              
