<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="margin-top:-8%;">
    <div class="container">
    <a href="http://13.234.236.221:4200/#" style="color:rgb(33, 173, 228)">
      <div class="" style="margin-left:-77% ">  <img src="../../assets/images/logo (1).png" style="height: 60px;width: auto;" alt ="FindMeClinic"/></div>
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav1" style="margin-right: -82%" >
                <div class="color-block mx-auto mb-3 warm-flame-gradient z-depth-2">
        <div  (click)="patientProfile()"><mdb-icon fas icon="user"></mdb-icon> <span class="caret"></span></div>
        </div>
        </div>
       <div class="nav1" style="margin-right: -16%" >
        <div class="color-block mx-auto mb-3 warm-flame-gradient z-depth-2">
        <div class="btn btn-info btn-lg btn-login" (click)="logout()">Logout</div>
    </div>
    </div>
 </div>
 </nav> 
     <body>

  



      <div id="container1" >
          <h2 id="Trending_Products" style="margin-top:12%">Recommendations</h2>
          <div class="shine"></div>
          <br>
          <div ng2-carouselamos class="slides-wrapper" [items]="topDoctors" [width]="900" [$prev]="prev" [$next]="next"
            [$item]="product">
          </div>
          <ng-template #prev>
            <img src="../../assets/images/iconfinder_icon-ios7-arrow-back_211686.png" class="arrow">
          </ng-template>
          <ng-template #next>
            <img src="../../assets/images/iconfinder_icon-ios7-arrow-forward_211688.png" class="arrow">
          </ng-template>
          <ng-template #product let-product let-i="index">
            <div class="topDoctors">
              <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card" id="card2" style="width:260px;">
                  <div class="img-box">
                    <img id="carimg" src="../../assets/images/{{product.profileImage}}" class="img-responsive img-fluid"
                       (click)="imageclick(product)">
                  </div>
                  <div class="card-block">
                     
                    <div class="rate">
                      <!-- <h4 class="info">{{product.rating}}&#9733;</h4> -->
                    </div>
                     <h6 class="item-price"> {{product.emailId}}</h6>
                     <h6 class="info"> {{product.phone}}</h6>
                     <a  class="btn btn-info btn-lg btn-login" (click)="routingto(doctorData.emailId)">Book Appointment</a>
               </div>
             </div>
           </div>
         </div>
           </ng-template>
        </div>
      
        
</body>
