.navbar-brand{
    font-family:'Pacifico';
    font-size:20px;
  }
  nav{
    background:white;
    margin-top: 0px;
    margin-bottom: 10px;
    position: fixed;
    padding-top:20px;
  }
  .btn-login {
    background: #2fd5f8;
    color: #fff;
    height: 40px;
    padding-bottom: 38px;
    
  }
  .btn-login:hover{
    color: black;
    background-color: white;
    font-weight: 400
    }
 
    @media only screen and (max-width: 340 px) {
    body {
      margin-top: 43%
    }
   }
   
  
.cards{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.details-card {
    background: #ecf0f1;
}
.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
 h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
    
    padding: 1.25rem;
    
}
.card-desc h3 {
    color: #000000;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
    
   
}
.card-desc p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-card{
    background-color: #2fd5f8;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
   
}
.btn-card:hover {
    background: white;
}
a.btn-card {
    text-decoration: none;
    color: black;
}  
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    float:left;
    padding-left:15px;
  }
  ul{
  margin:0;
  padding:0;
  list-style:none;
  height: 200px;
  }
  .heading.heading-icon {
    display: block;
  }
  .padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  }
  .practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
  }
  .practice-area .inner{ 
     border:1px solid #999999; 
   text-align:center; 
   margin-bottom:28px; 
   padding:40px 25px;
  }
  .our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
  }
  .practice-area .inner h3{ 
    color:#3c3c3c; 
  font-size:24px; 
  font-weight:400;
  font-family: 'Poppins', sans-serif;
  padding: 10px 0;
  }
  .practice-area .inner p{ 
    font-size:14px; 
  line-height:22px; 
  font-weight:300;
  }
  .practice-area .inner img{
  display:inline-block;
  }
  
  
  .our-webcoderskull{
  background: url("../../assets/images/home.jpg") no-repeat center top / cover;
  }
  .our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
  }
  .our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
  }
  .our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
  }
  .our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:400; 
   padding:6px 0;
   text-transform:uppercase;
  }
  .our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
  color:#2a2a2a;
  }
  .our-webcoderskull .cnt-block h3 a:hover{
  color:#6b15b1;
  }
  .our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:550px;
  }
  .our-webcoderskull .cnt-block .follow-us{
  margin:20px 0 0;
  }
  .our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
  width:auto; 
  margin:0 5px;
  }
  .our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
  }
  .our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
  }
  
  .pt-100{
    padding-top:100px;
  }
  .pb-100{
    padding-bottom:100px;
  }
  .section-title {
  margin-bottom: 60px;
  }
  .section-title p {
  color: #777;
  font-size: 16px;
  }
  .section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  }
  .section-title h4:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ff3636;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  }
  .section-title h4:after {
  position: absolute;
  background-color: #ff3636;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  border-radius: 50%;
  }
  
  
  .single-team {
  position: relative;
  }
  .team-hover {
  background-color: #222;
  color: #fff;
  position: absolute;
  bottom: -107px;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-transition: .4s;
  transition:.4s
  }
  .team-hover h4 {
  font-size: 20px;
  text-transform: capitalize;
  }
  .team-hover h4 span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
  }
  .team-hover a {
  display: inline-block;
  color: #fff;
  padding: 0 5px;
  }
  .single-team:hover .team-hover {
  bottom: 0;
  }
  .single-team {
  overflow: hidden;
  }
  body{
     height:100vh; 
    background:rgb(171, 217, 235);
    background-position:120% 100%;
    background-size:cover;
   }
   .btn-login {
    background: #2fd5f8;
    color: #fff;
    height: 40px;
    padding-bottom: 38px;
    /* margin-top:15px; */
  }
  .btn-login:hover{
    color: black;
    background-color: white;
    font-weight: 400
    }