<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="wrapper" style="margin-top:6%;">
    
    <br>
<div class="container emp-profile" style="width:60%">
    <form method="post">
       
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-8">
                    <div class="profile-head">


                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <button  class="btn  float-right btn-info btn-md btn-register" (click)="editPatientProfile()"><i class="fa fa-edit"></i>Edit Profile</button>
                </div>
                <div class="col-md-6">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name </label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: blue;">{{doctorData.name}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: blue;">{{doctorData.emailId}}</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>Gender

                                  </label>
                              </div>
                              <div class="col-md-6">
                                  <p style="color: blue;">{{doctorData.gender}}</p>
                              </div>
                          </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Medical License Number</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: blue;">{{doctorData.medicalLicense}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Specialization

                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: blue;">{{doctorData.specialization}}</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>Practice Start Date

                                  </label>
                              </div>
                              <div class="col-md-6">
                                  <p style="color: blue;">{{doctorData.practiceStartedDate}}</p>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <label>Address

                                </label>
                            </div>
                            <div class="col-md-6">
                              <p style="color: blue;">{{doctorData.address.state}}, {{doctorData.address.area}}</p>
                              <p style="color: blue;">{{doctorData.address.city}}, {{doctorData.address.state}}</p>
                              <p style="color: blue;">{{doctorData.address.pinCode}}</p>
                            </div>
                        </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        
       
    </form>
</div>
</div>

































