.navbar-brand{
    font-family:'Pacifico';
    font-size:20px;
  }
  nav{
    background:white;
    margin-top: 0px;
    margin-bottom: 10px;
    position: fixed;
    padding-top:20px;
  }
  .btn-login {
    background: #2fd5f8;
    color: #fff;
    height: 40px;
    padding-bottom: 38px;
    /* margin-top:15px; */
  }
  .btn-login:hover{
    color: black;
    background-color: white;
    font-weight: 400
    }

   
      
      mat-expansion-panel {
        /* width: 90%; */
        margin:auto;
        margin-top:3%;
        /* background:    rgb(238, 236, 238); */
        background: url("../../assets/images/22.jpg") no-repeat center top / cover;
      }

      .mat-toolbar-single-row{
        background-color:  #5bd8f1; 
      }
      
      
      .title{
        font-weight: 500;
        font-size:17px;
        color:white;
      }
        .example-card {
          display: flex;
          flex-direction: column;
          margin: auto;
      
          background: url("../../assets/images/18.jpeg") no-repeat center top / cover;
        }
      
        .upcomingDataCard{
            
            /* max-width: 500px; */
           
           width:120%;
            background: url("../../assets/images/21.jpg") no-repeat center top / cover;
        }
        .previousDataCard{
         
         width:120%;
          background: url("../../assets/images/21.jpg") no-repeat center top / cover;
        }
      p{
        color: rgb(3, 0, 8);
        font-size:14px;
        font-weight:400;
      }
      
      
        .cardList {
          padding-left:90px;
         
          padding-top:30px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
           max-width: 1180px;
           margin:auto;
           margin-top:2%;
      
        }
        /* Column Gap */
        .cardList > * {
          box-sizing: border-box;
        }
        .cardList > *:not(:last-child) {
          margin-right: 34px;
        }
        /* Item sizing */
        .cardListItem {
          flex: 0 1 calc(33.3% - 32px);
        }
        /* medium size viewport */
      
      @media screen and (max-width: 959px) {
          /* Column Gap */
          .cardList > *:not(:last-child) {
            margin-right: 32px;
          }
          /* Item sizing */
          .cardListItem {
            flex: 0 1 calc(50% - 32px);
          }
        }
        /* small size viewport */
      
      @media screen and (max-width: 599px) {
          .cardList {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
          .cardList > *:not(:last-child) {
            margin-right: unset;
            margin-bottom: 32px;
          }
        }
        label{
            font-weight: 500;
          }
          .chips{
            padding-top: 8px;
            
          }
          #second{
            padding-left: 60px;
            padding-right: 100px;
          }
          
          img{
            height: 60%;
          }
          .toolbar{
            background-color:  #5bd8f1;
            margin-top: 30px;
           }
          
           .register{
           margin-right: 10px;
           margin-top: 1px;
           background: #5bd8f1;
           color: #fff;
           }
          
           i{
            vertical-align: -6px;
          }
          .wrapper{
            height:100vh;
            background: url("../../assets/images/22.jpg") no-repeat center top / cover;
            background-position:120% 100%;
            background-size:cover;
           }
          
          
          
      
      
      
      
      
      
      
      
      
  