
<div class="container cf">
    <!-- testimonial one -->
    <div class="animation-element slide-left testimonial">
      <div class="header">
        <div class="left">
          <img src="../../assets/images/review1.jpg" />
        </div>
        <div class="right">
          <h3>Suchithra</h3>
        </div>
      </div>
      <div class="content"><i class="fa fa-quote-left"></i> I have lot more confidence going forward that i have the right doctors and the right treatment plan <i class="fa fa-quote-right"></i>
      </div>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
    </div>
    <!--testimonial two -->
    <div class="animation-element slide-left testimonial">
      <div class="header">
        <div class="left">
          <img src="../../assets/images/review3.jpg" />
        </div>
        <div class="right">
          <h3>Santosh</h3>
        </div>
      </div>
      <div class="content"><i class="fa fa-quote-left"></i> If I hadn't gone to FindMeClinic, I could still be waiting for a diagnosis right now.FindMeClinic really saved me
        <i class="fa fa-quote-right"></i>
      </div>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </div>
    <!--testimonial three -->
    <div class="animation-element slide-left testimonial">
      <div class="header">
        <div class="left">
          <img src="../../assets/images/review2.jpg" />
        </div>
        <div class="right">
          <h3>Meena</h3>
        </div>
      </div>
      <div class="content"><i class="fa fa-quote-left"></i> FindMeClinic made all the difference in my decision on what to do for course of treatment..
        <i class="fa fa-quote-right"></i>
      </div>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <!--testimonial four -->
    <div class="animation-element slide-left testimonial">
      <div class="header">
        <div class="left">
          <img src="../../assets/images/review4.jpg" />
        </div>
        <div class="right">
          <h3>Gowtham</h3>
        </div>
      </div>
      <div class="content"><i class="fa fa-quote-left"></i> Their goal was my best care.I feel like FindMeClinic helped save my life...
        <i class="fa fa-quote-right"></i>
      </div>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </div>
  </div>
 
 