<app-navbar></app-navbar>
<body>
<div class="container" >    
  <div  *ngFor="let doctor of doctors" >
  <mat-card class="cards">  
     <div class="row">
         <div class="col-3">
             <img class="imageClass" src="../../assets/images/{{doctor.profileImage}}" />
         </div>
         <div class="col">
          <h5>Dr. {{doctor.name}}</h5> 
           <br>
            
             <div class="details">
             <p>Qualification &nbsp;&nbsp;&nbsp;: &nbsp; &nbsp; &nbsp; {{doctor.qualification}}</p>
             <p>Specialization : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.specialization}}</p>
             <p>Clinic Name &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.clinicName}}</p>
             <p>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{doctor.emailId}}</p>
             </div>
            
             
         </div>
          <div id="end-col" class="col-4">
          
           <p > <i class="material-icons">
              location_on
              </i>{{doctor.address.area}}, {{doctor.address.city}}
            </p> 
              <p> <i class="material-icons">
                  mobile_screen_share
                  </i>{{doctor.phone}}
                </p>
            
              <hr width="220 px" align="centre">
              <br> 
           <p class="buttons">
               
              <mat-card-actions  class="button"  >
                  <button mat-raised-button (click)="routingto(doctor.emailId)" >Quick Book</button>
                  <button mat-raised-button  (click) = "passDetails(doctor)"  >View Profile</button>
                
                </mat-card-actions>
              
          </p>
           
          </div>  
         
     </div> 
   </mat-card>
   
   <hr class="hrCards">
 </div>
</div>

</body>
