.navbar-brand{
    font-family:'Pacifico';
    font-size:20px;

}
nav{
    background:white;
    margin-top: 0px;
    margin-bottom: 10px;
    position: fixed;
}

.btn-login {
    background: #2fd5f8;
    color: #fff;
    height: 40px;
    padding-bottom: 35px;
    margin-top:20px;
}

 .btn-login:hover{
    color: black;
    background-color: white;
    font-weight: 400
    }



   /* .button4 {
    background-color:#2fd5f8;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-right:50px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-top: 4px
   }  */

   /* .button4{
    color: white;
    background-color:#2fd5f8;
    width: 100px;
    border-radius: 2px;
    }
    
    .button4:hover{
    color: black;
    background-color: white;
    } */




   
