

<div class="" style="text-align: center;color: #0b9cb9"><h4>Booking Confirmed..!</h4></div>

<div mat-dialog-actions style="margin-left: 20%; color: #0b9cb9;">
  <font size="4"> <div>Booking Id :{{appointmentId1+1}}</div></font>
    <br>                
    
</div>
<br>
<div mat-dialog-actions style="margin-left: 20%; color: #0b9cb9;">
    <font size="4"> <div>Appointment Date:{{appointmentDate1}} </div></font>
    <br>                
    
</div>
<br>
<div mat-dialog-actions style="margin-left: 20%; color: #0b9cb9;">
  <font size="4"> <div>Appointment Time:{{appointmentTime}} </div></font>
    <br>                
    
</div>
<br>
<div style="text-align: center"><a href="http://localhost:4200/patientdashboard/{{emailId}}">Go To Home</a></div>
