.navbar-brand{
    font-family:'Pacifico';
    font-size:20px;
  }
  nav{
    background:white;
    margin-top: 0px;
    margin-bottom: 10px;
    position: fixed;
    padding-top:20px;
  }
  .btn-login {
    background: #2fd5f8;
    color: #fff;
    height: 40px;
    padding-bottom: 38px;
   
  }
  .btn-login:hover{
    color: black;
    background-color: white;
    font-weight: 400
    }

   
      
      mat-expansion-panel {
       margin:auto;
        margin-top:3%;
        background: url("../../assets/images/22.jpg");
      }

      .mat-toolbar-single-row{
        background-color:  #5bd8f1; 
      }
      
      
      .title{
        font-weight: 500;
        font-size:17px;
        color:white;
      }
        .example-card {
          display: flex;
          flex-direction: column;
          margin: auto;
      
          background: url("../../assets/images/18.jpeg") no-repeat center top / cover;
        }
      
        .upcomingDataCard{
            
           width:120%;
            background: url("../../assets/images/21.jpg") no-repeat center top / cover;
        }
        .previousDataCard{
         
         width:120%;
          background: url("../../assets/images/21.jpg") no-repeat center top / cover;
        }
      p{
        color: rgb(3, 0, 8);
        font-size:14px;
        font-weight:400;
      }
      
      
        .cardList {
          padding-left:90px;
         
          padding-top:30px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
           max-width: 1180px;
           margin:auto;
           margin-top:2%;
      
        }
      
        .cardList > * {
          box-sizing: border-box;
        }
        .cardList > *:not(:last-child) {
          margin-right: 34px;
        }  
        .cardListItem {
          flex: 0 1 calc(33.3% - 32px);
        }
       
      
      @media screen and (max-width: 959px) {
          .cardList > *:not(:last-child) {
            margin-right: 32px;
          }
         
          .cardListItem {
            flex: 0 1 calc(50% - 32px);
          }
        }
        
      
      @media screen and (max-width: 599px) {
          .cardList {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
          .cardList > *:not(:last-child) {
            margin-right: unset;
            margin-bottom: 32px;
          }
        }
        label{
            font-weight: 500;
          }
          .chips{
            padding-top: 8px;
            
          }
          #second{
            padding-left: 60px;
            padding-right: 100px;
          }
          
          img{
            height: 60%;
          }
          .toolbar{
            background-color:  #5bd8f1;
            margin-top: 30px;
           }
          
           .register{
           margin-right: 10px;
           margin-top: 1px;
           background: #5bd8f1;
           color: #fff;
           }
          
           i{
            vertical-align: -6px;
          }
          body{
             /* height:100vh;  */
            background:rgb(171, 217, 235);
            background-position:120% 100%;
            background-size:cover;
           }
          img{
            height:200px;
            
          }
          button{
            background-color: #2fd5f8;
            color:#fff;
            
         }
         .button{
            text-align: center;
           
         }
          
      
    
      .cards:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        animation-name: example;
        animation-duration: 0.25s;
        border-left: 8px solid #2fd5f8;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      
     
      
      
      
      
      
      
      
  