<app-navbar></app-navbar>
<body>
<!-- <div class="wrapper" style="margin-top:6%;"><br> -->
<!-- <div class="container"> -->
    <div class="container emp-profile" style="margin-top:9%;">
        <div class="hey">
          
            <mat-toolbar class="toolbar">Profile</mat-toolbar>
            <mat-card class="card">  
    
                <div class="row">
                    <div class="col-3" div="first">
                       
                        <img class="imageClass" src="../../assets/images/{{doctor.clinicImage}}"  />
                        <br>
                     <div class="chips">
                        <mat-chip-list aria-label="Fish selection">
                                <!-- <mat-chip><i class="material-icons">
                                        email
                                        </i>{{doctor.emailId}}</mat-chip> -->
                                    <mat-chip><i class="material-icons" >
                                            mobile_screen_share
                                            </i>{{doctor.phone}}</mat-chip>
                                  </mat-chip-list>
                                </div>
                    </div>
                   
                    <div  id="second" class="col">
                        <h4> {{doctor.clinicName}}</h4>
                          <br>
                                  <p><i class="material-icons" style="color: green">
                                        verified_user
                                        </i> Medical License Verified &nbsp; &nbsp;
    
                                        <i class="material-icons" style="color: red">
                                                local_hospital
                                                </i>License Number is &nbsp;{{doctor.medicalLicense}}</p>
    
                                               
                              <div class="row">
                                <div class="col-sm-12">
                                   <p><i class="material-icons">
                                      location_on
                                      </i>{{doctor.clinicName}} Clinic, {{doctor.address.flatNo}} {{doctor.address.area}},
                                      {{doctor.address.city}}, {{doctor.address.state}} - {{doctor.address.pinCode}}</p>
                                  
                                
                                    </div>
                                   
                             
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                  
                                  
                          <p style="padding-left: 1%">{{doctor.listOfDoctors.length}} Doctors</p>
                            
                               
                                </div>
                              </div>
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 40%">
                                    <mat-card-actions class="button"  >
                                        <button mat-raised-button (click)="back()" >Back</button>
                                  
                                        <button mat-raised-button (click)="routingto(doctor.emailId)" >Book Appointment</button>
                                      </mat-card-actions>
                                </div>
                                      
                            </div>
             
                </div>  
    
            </div> 
            <hr>
    <div style="padding-left: 9%" *ngFor="let item of doctor.listOfDoctors; let i = index" [attr.data-index]="i" >
      <mat-card class="cards" style="width: 90%">  
         <div class="row">
             <div class="col-3">
                 <img class="imageClass" src="../../assets/images/{{item.profileImage}}" style="height: 150px;width: 150px" />
             </div>
             <div class="col">
              <h5>Dr. {{item.name}}</h5> 
               <br>
                
                 <div class="details">
                 <p >Qualification &nbsp;&nbsp;&nbsp;: &nbsp; &nbsp; &nbsp; {{item.qualification}}</p>
                 <p >Specialization : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.specialization}}</p>
                  <p >Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.emailId}}</p>
                 </div>
                
                 
             </div>
              <div id="end-col" class="col-4">
              
              
               <p class="buttons" style="padding-top: 40%">
                   
                  <mat-card-actions  class="button"  >
                      <button mat-raised-button (click)="routingto(doctor.emailId)" >Quick Book</button>
                      <button mat-raised-button  (click) = "passDetails(doctor)"  >View Profile</button>
                    
                    </mat-card-actions>
                  
              </p>
               
              </div>  
             
         </div> 
       </mat-card>
       <br>
     
     </div>
    
        </mat-card> 
    </div>
   
    </div>
  
  




</body>




