.example-card
{
background-image: url("/assets/images/22.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
font-size: 30px;
}
mat-button-toggle
{
height: 180px;
width: 180px;
}
.mat-button-toggle:hover {
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
animation-name: example;
animation-duration: 0.25s;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.content
{
    text-align: center;
    width: 80%;
   margin-left: 10%;
   margin-top: 8px;
   margin-bottom: 8px;
}
/* Remove extra left and right margins, due to padding */
.row
{
margin: 8 -5px;
}
/* Clear floats after the columns */
.row:after
{
    content: "";
    display: table;
    clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px)
{
.column
{
      width: 100%;
      display: block;
      margin-bottom: 20px;
}
}
/* Style the counter cards */
.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color:white;
    width:400px;
}
input[pw-show-hide] + span
{
cursor: pointer;
display: inline-block;
margin-left: .5ch;
text-transform: uppercase;
width: 4.5ch;
text-align: left;
line-height: 1;
vertical-align: middle;
}
button
{
background-color:white;
color: black;
width: 120px;
margin-right:50px;
padding-left: 12px;
padding-right: 12px;
padding-bottom: 2px;
padding-top: 2px;
}
button:hover
{
color: black;
background-color: white;
font-weight: 400;
}
p
{
font-style: oblique;
font-weight: bolder;
text-align: center;
margin-bottom: 0%;
font-size: 14px;
}
.picture-container{
position: relative;
cursor: pointer;
text-align: center;
}
.picture{
width: 180px;
height: 180px;
background-color: #999999;
border: 4px solid #CCCCCC;
color: #FFFFFF;
border-radius: 50%;
margin: 0px auto;
overflow: hidden;
transition: all 0.2s;
-webkit-transition: all 0.2s;
}
.picture:hover{
border-color: #999999;
}
.picture input[type="file"] {
cursor: pointer;
display: block;
height: 100%;
left: 0;
opacity: 0 !important;
position: absolute;
top: 0;
width: 100%;
}
.picture-src{
width: 100%;
}
hr{
    width: 50%;
}

.upload{
     font-style: oblique;
     font-weight: bolder;
     font-size: 14px;
     margin-left: -11%;
     margin-bottom: 0%;
}

.btn-login {
   background: #2fd5f8;
   color: #fff;
   height: 40px;
   padding-bottom: 38px;
   padding-left: 12px;
padding-right: 12px;
padding-bottom: 2px;
padding-top: 2px;
   /* margin-top:15px; */
 }
 .btn-login:hover{
   color: black;
   background-color: white;
   font-weight: 400
   }