<body>
  <section class="section" fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-horizontal-stepper labelPosition="top" linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <mat-card class="example-card">
          <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>
                <strong> Doctor details</strong>
              </ng-template>
              <!-- <div class="form-row">
              <div class="col" style="padding-left: 20%">
                    <div class="container">
                      <div class="picture-container">
                          <div class="picture">
                              <img src="/assets/images/pp4.jpg" class="picture-src"  title="">
                              <input class="upload"  (change)="selectVideo($event)"  type="file" [(ngModel)]="profilePhoto" formControlName="ProfilePhotoCtrl"  accept="image/*">
                          </div>
                      </div>
                  </div>  
                  </div>
                  <div class="col" style="padding-right: 20%"> -->
                  <p>
                      <mat-form-field style="width:400px;" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input  type="text" formControlName="NameCtrl" matInput placeholder="Name" required >       
                      </mat-form-field>
                    <!-- </p>
                    <mat-chip-list matNativeControl formControlName="GenderCtrl">
                        <mat-chip style="margin-left: 31%" value="male">Male</mat-chip>
                        <mat-chip value="female">Female</mat-chip>
                      </mat-chip-list>
                      <br/> -->
                   <p>
                        <mat-form-field style="width:400px" appearance="outline">
                          <mat-label>Gender</mat-label>
                          <select matNativeControl formControlName="GenderCtrl">
                              <option label="--choose--"></option>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                            </select>
                        </mat-form-field>
                      </p>
                     <!-- <p>
                          <mat-radio-group>
                                <div class="form-check" style="padding-right: 30%">
                                  <input  type="radio" value="male" [(ngModel)]="gender"   formControlName="GenderCtrl" required>
                                  <mat-label class="form-check-label">Male</mat-label>
                                  <input type="radio" value="female" [(ngModel)]="gender" formControlName="GenderCtrl" required>
                                  <mat-label class="form-check-label">Female</mat-label>
                                </div>
                              </mat-radio-group>              
                             </p><br/> -->
                             <p>
                                <mat-form-field style="width:400px" appearance="outline">
                                  <mat-label>Email</mat-label>
                                  <input formControlName="email" type="email" matInput placeholder="Email" formControlName="EmailCtrl" [(ngModel)]="email" required> 
                                </mat-form-field>     
                                </p>
                               <p>
                                  <mat-form-field style="width:400px" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input pw-show-hide  type="text" matInput placeholder="Enter password"
                        [type]="hide ? 'password' : 'text'" [(ngModel)]="password" formControlName="PasswordCtrl" required  minlength="8">
                      </mat-form-field>      
                      </p>
                      <hr style="margin-top: 0%">
                     <p>
                          <mat-form-field style="width:400px" appearance="outline">
                            <mat-label>Qualification</mat-label>
                            <input type="text" matInput [(ngModel)]="qualification" formControlName="QualificationCtrl" placeholder="Qualification" required>    
                          </mat-form-field>   
                        </p>
                       <p>
                            <mat-form-field style="width:400px" appearance="outline">
                              <mat-label>Medical license</mat-label>
                              <input  type="text" matInput [(ngModel)]="medicalLicense" formControlName="MedicalLicenseCtrl" placeholder="Medical License" required >    
                            </mat-form-field>       
                            </p>
                           <p>
                              <mat-form-field style="width:400px" appearance="outline">
                                <mat-label>Practise started date</mat-label>
                                <input  [min]="minDate" [max]="maxDate" [(ngModel)]="practiceStartedDate"  [max]="tomorrow" formControlName="PracticeStartedDateCtrl" type="text" matInput [matDatepicker]="picker" placeholder="Choose a date" required>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                  </mat-form-field>       
                  </p>
                            
                               
                                <p>
                                          <input class="upload" style="margin-top: 0%" (change)="selectVideo($event)"  type="file" [(ngModel)]="profilePhoto" formControlName="ProfilePhotoCtrl"  accept="image/*">
                   </p>
                              <!-- </div>            
              </div> -->
         
            <div align="center">
              <button  mat-stroked-button  matStepperNext [disabled]="firstFormGroup.invalid" (click)="saveDoctor()" >Next</button>
            </div>
          </form>
          </mat-card>
        </mat-step>
       
         <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>
             <strong>Specialization</strong>
            </ng-template>
            <mat-card align="center"class="example-card">
              <mat-card-content align="center" class="content">
                 <mat-grid-list cols="4" style="padding-left: 15px">
                    <mat-grid-tile>
                      <mat-button-toggle  (change)="onValChange($event.value)" value="dentist">
                        <img mat-card-image src="/assets/images/den.jpg" alt="Dentist">
                      <p>Dentist</p>
                    </mat-button-toggle>
                    </mat-grid-tile>
                    <mat-grid-tile>   
                      <mat-button-toggle (change)="onValChange($event.value)" value="neurologist">
                        <img mat-card-image src="/assets/images/neur.jpg" alt="Neurologist">
                      <p>Neurologist</p>
                    </mat-button-toggle>
                   </mat-grid-tile>
                   <mat-grid-tile>
                    <mat-button-toggle (change)="onValChange($event.value)" value="opthalmologist">
                      <img mat-card-image src="/assets/images/opt.jpg" alt="Opthalmologist">
                    <p>Opthalmologist</p>
                  </mat-button-toggle>
                 </mat-grid-tile>
                 <mat-grid-tile>
                  <mat-button-toggle (change)="onValChange($event.value)" value="gynaechologist">
                    <img mat-card-image src="/assets/images/gyn.jpg" alt="Gynaechologist">
                  <p>Gynaechologist</p>
                </mat-button-toggle>
               </mat-grid-tile>
               </mat-grid-list>
               <mat-grid-list cols="4" style="margin-top:15px;margin-bottom:15px">
                 <mat-grid-tile>
                  <mat-button-toggle (change)="onValChange($event.value)" value="cardiologist">
                    <img mat-card-image src="/assets/images/car.jpg" alt="Cardiologist">
                  <p>Cardiologist</p>
                </mat-button-toggle>
               </mat-grid-tile>
              <mat-grid-tile>
                <mat-button-toggle (change)="onValChange($event.value)" value="paedriatrics"><img mat-card-image
                  src="/assets/images/pae.jpg" alt="Paedriatrics">
              <p>Paedriatrics</p>
            </mat-button-toggle>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-button-toggle (change)="onValChange($event.value)" value="dermatologist">
                  <img mat-card-image src="/assets/images/derm.jpg" alt="Dermatologist">
                  <p>Dermatologist</p>
                </mat-button-toggle>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-button-toggle (change)="onValChange($event.value)" value="generalPhysician">
                  <img mat-card-image src="/assets/images/physi.jpg" alt="General Physician">
                <p>General Physician</p>
              </mat-button-toggle>
                </mat-grid-tile>
           </mat-grid-list>
     
     <p>
        <mat-form-field align="center" style="width:400px" appearance="outline">
          <mat-label>Other</mat-label>
          <input  type="text" [(ngModel)]="Specialization" [formControl]="myControl" formControlName="SpecializationCtrl" matInput placeholder="Other Specialization" [matAutocomplete]="auto">
          <mat-autocomplete  #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
          </mat-card-content>
          <div align="center">
              <button  mat-stroked-button matStepperPrevious>Back</button>
              <button  mat-stroked-button matStepperNext  (click)="saveSpecialization()">Next</button>
            </div>
            </mat-card>
            </form>
            
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <mat-card class="example-card">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>
                <strong> Clinic details</strong>
              </ng-template>
            
                  <p>
                      <mat-form-field style="width:400px" appearance="outline">
                        <mat-label>Clinic Name</mat-label>
                        <input  type="text" [(ngModel)]="clinicName" formControlName="ClinicNameCtrl" matInput placeholder="Clinic name" required>
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field style="width:400px" appearance="outline">
                          <mat-label>Mobile</mat-label>
                          <input type="text" [(ngModel)]="mobile" formControlName="MobileCtrl" matInput placeholder="Mobile" required minlength="10" maxlength="10">
                        </mat-form-field>
                      </p>
                      <p>
                          <mat-form-field style="width:400px" appearance="outline">
                              <mat-label>State</mat-label>
                              <input type="text" [(ngModel)]="state" [formControl]="control"  formControlName="StateCtrl" matInput placeholder="State" required [matAutocomplete]="auto1">
                              <mat-autocomplete #auto1="matAutocomplete">
                                  <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                                    {{street}}
                                  </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field style="width:400px" appearance="outline">
                              <mat-label>City</mat-label>
                              <input type="text" [(ngModel)]="city" formControlName="CityCtrl" matInput placeholder="City" required>
                            </mat-form-field>
                          </p>
                          <p>
                              <mat-form-field style="width:400px" appearance="outline">
                                <mat-label>Flat No</mat-label>
                                <input type="text" [(ngModel)]="flatNo" formControlName="FlatNoCtrl" matInput placeholder="Flat No" required>
                              </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field style="width:400px" appearance="outline">
                                  <mat-label>Area</mat-label>
                                  <input type="text" [(ngModel)]="area" formControlName="AreaCtrl" matInput placeholder="Area" required >
                                </mat-form-field>
                              </p>
                              <p>
                                  <mat-form-field style="width:400px" appearance="outline">
                                    <mat-label>Pincode</mat-label>
                                    <input  formControlName="pincode" type="text" [(ngModel)]="pincode" formControlName="PincodeCtrl" matInput placeholder="Pincode" required maxlength="6">
                                  </mat-form-field>
                                </p>
                                <p>
                                  <input class="upload" style="margin-top: 0%" (change)="selectVideo($event)"  type="file" [(ngModel)]="clinicPhoto" formControlName="ClinicPhotoCtrl"  accept="image/*">
                                </p>

                             
              <div align="center">
                <button mat-stroked-button matStepperPrevious>Back</button>
                <button mat-stroked-button matStepperNext [disabled]="thirdFormGroup.invalid" (click)="saveClinic()">Submit</button>
              </div>
            </form>
            </mat-card>
        </mat-step>
    
        <mat-step>
            <ng-template matStepLabel>
              <strong>Done!</strong>
            </ng-template>
            <!-- <div align="center" >
                <img align="center" src="/assets/images/okk.png" alt="ok">
                <br/><br/><br/>
                <button align="center" mat-stroked-button  (click)="goToLogin()" >Login </button><br/><br/><br/><br/>
                </div> -->
                <div align="center" >
                  <img src="/assets/images/okk.png" style="padding-left: 4%">
                  <div class="btn btn-info btn-lg btn-login" align="center" mat-stroked-button  (click)="goToLogin()" >Login </div><br/><br/>
                  </div>
        </mat-step>
      </mat-horizontal-stepper>
    </section>
    <router-outlet></router-outlet>
    </body>
   
   