<div class="container">
  <p>Select a specialization!</p>
  <!-- <div class="btn-group"> -->
  <button mat-button>General Physician</button>
  <button mat-button>Paedriatrics</button>  
  <button mat-button>Opthalmologist</button>  
  <button mat-button>Gynaechologist</button>  
  <button mat-button>Neurologist</button> 
  <button mat-button>Cardiologist</button>
  <button mat-button>Dermatologist</button>  
  <button mat-button>Orthopedic</button>  
  <button mat-button (click)='searchSpecialization("Dentist")'>Dentist</button>  
  <button mat-button>Physiotherapist</button>   
<!-- </div>       -->
</div>
