<div class="footer-dark ">
        <footer class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3 item" style="margin-left: -155px">
                        <div style="margin-left: 0%">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Free Hospital/Clinic Signup</a></li>
                                <li><a href="#">Free Patient Signup</a></li>
                                <li><a href="#">Free Nearby Clinic Search</a></li>
                                <li><a href="#">Free Patient History</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 item">
                        <div style="margin-left: 80%">
                            <h3>Links</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Privacy&Policy</a></li>
                                <li><a href="#">AddClinic</a></li>
                                <li><a href="#">Healthcare</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 item">
                        <div style="margin-left: 130%">
                            <h3>More</h3>
                            <ul>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Developers</a></li>
                                <li><a href="#">Trems&Conditions</a></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-md-3 item text">
                       <div style="margin-left: 190%"> <h3>ContactUs</h3>
                            <div class="col item social" ><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a></div>
                        </div>
                        </div> -->
                    <div class="col-md-3 col-md-3 item text">
                        <div style="margin-left: 190%">
                            <h3>ContactUs</h3>
                            <div class="connect">
                                <ul class="list-unstyled">
                                    <li style="display:inline"><i class="fa fa-facebook-square fa-2x"></i>
                                        <i class="fa fa-twitter-square fa-2x"></i>
                                        <i class="fa fa-google-plus-square fa-2x"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="copyright">Find Me Clinic ©2019.All rights Reserved</p>
            </div>
        </footer>
     </div>