/* @media (min-width: 768px) {
 

/* .container-narrow > hr {
  margin: 30px 0;
} */
body{
  background-color: #eff5f8;
  /* background-image: url("../../assets/images/background.png"); */
  background-repeat: repeat;
  background-image:url("https://wallpaperplay.com/walls/full/d/b/a/13993.jpg");
}

.container{
    margin-top:10%;
    margin-bottom: 20px;
    font-size: 14px;
    flex-direction: column;
   
    /* display: flex;
 justify-content: center;
 flex-direction: column; */
    
  }
 
h5{
  color:  #2fd5f8;
}
.cards:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #2fd5f8;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}





  .cards{
   margin-top: 10px;
   margin-bottom: 10px;
   padding-bottom: 20px;
   padding-top: 10px;
   padding-right: 20px;
   padding-left: 20px;
   width: 900px;
   height: 250px;
   margin: 0 auto; 
   float: none;
   border: 2px solid #e5e5e5; 
   /* background-color: beige; */
   /* border: 2px solid gray; */
   /* box-shadow: #2fd5f8;
   box-shadow: 20px; */
 
   /* text-align: center; */
   animation-name: fadeIn;
  
  
  }
  .imageClass{
    height: 160px; 
    padding-top: 15px;
  }
  .buttons{
    margin-bottom: 10px;
  }
 
  @media screen and (max-width:729px){
    .container{
      width: 100%;
    }

  }
  button{
    background-color: #2fd5f8;
    color: #fff;
    float: right;
  }
  
/* 
@media(max-width: 700px) {
 div {
   background-color: black;
 }
} */

.hrCards{
  width: 900px;
  align-content:center;
  color: grey;
}
#end-col{
  padding-top: 40px;
  text-align: center;
  display: inline;
 
  /* vertical-align: middle; */
}



/* td{
  padding-left: 30px;
  width: 100px;
  padding: 10px;
} */
img{
  border-radius: 50%;
}


i{
  vertical-align: -6px;
}
.details{
  color: solid grey;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}