<br><br><br><br><br>
<mat-accordion class="myPanel" style="margin-top:10%">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Upcoming Appontment Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="cardList">
      <div *ngFor="let appointmentDetails of upcomingAppointmentData">
        <mat-card class="upcomingDataCard">
          <mat-card-content>
            <div class="row">

              <div class="col">
                <p>Appointment Id</p>
                <p>Doctor's Name</p>
                <p>Clinic's Name</p>
                <p>Appointment Date</p>
                <p>Appointment Time</p>
                <p>Address</p>
              </div>
              <div class="col">
                <p>{{appointmentDetails.appointmentId}}</p>
                <p>{{appointmentDetails.doctor.name}}</p>
                <p>{{appointmentDetails.doctor.clinicName}}</p>
                <p>{{appointmentDetails.appointmentDate}}</p>
                <p>{{appointmentDetails.appointmentTime}}</p>
                <p>{{appointmentDetails.doctor.address.flatNo}}</p>

              </div>
             </div>
          </mat-card-content>
        </mat-card><br>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion class="myPanel">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Previous Appontment Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card class="cardList">
      <div *ngFor="let appointmentDetails1 of previousAppointmentData">
        <mat-card class="previousDataCard">
          <mat-card-content>
            <div class="row">

              <div class="col">
                <p>Appointment Id</p>
                <p>Doctor's Name</p>
                <p>Clinic's Name</p>
                <p>Appointment Date </p>
                <p>Appointment Time</p>
                <p>Address</p>
              </div>
              <div class="col">
                <p>{{appointmentDetails1.appointmentId}}</p>
                <p>{{appointmentDetails1.doctor.name}}</p>
                <p>{{appointmentDetails1.doctor.clinicName}}</p>
                <p>{{appointmentDetails1.appointmentDate}}</p>
                <p>{{appointmentDetails1.appointmentTime}}</p>
                <p>{{appointmentDetails1.doctor.address.flatNo}}</p>

              </div>
             </div>
          </mat-card-content>
        </mat-card><br>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
