mat-expansion-panel {
  width: 90%;
  margin:auto;
  margin-top:3%;
  /* background:    rgb(238, 236, 238); */
  background: url("../../assets/images/18.jpeg") no-repeat center top / cover;
 }
 .title{
  font-weight: 500;
  font-size:17px;
  color:white;
 }
  .example-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: url("../../assets/images/18.jpeg") no-repeat center top / cover;
  }
  .upcomingDataCard{
      width: 120%;
      background: url("../../assets/images/21.jpg") no-repeat center top / cover;
  }
  .previousDataCard{
    width: 120%;
    background: url("../../assets/images/21.jpg") no-repeat center top / cover;
  }
 p{
  color: rgb(3, 0, 8);
  font-size:14px;
  font-weight:400;
 }
  .cardList {
  padding-left:90px;
  padding-top:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
     max-width: 1180px;
     margin:auto;
     margin-top:2%;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 34px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }
  /* medium size viewport */
 @media screen and (max-width: 959px) {
    /* Column Gap */
    .cardList > *:not(:last-child) {
      margin-right: 32px;
    }
    /* Item sizing */
    .cardListItem {
      flex: 0 1 calc(50% - 32px);
    }
  }
  /* small size viewport */
 @media screen and (max-width: 599px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .cardList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 32px;
    }
  }